@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .roboto{
        font-family: 'Montserrat', serif;
    }

    body{
        @apply roboto bg-[#F7F8FA]
    }
    p{
        @apply mb-4
    }
    
    .abs-cover{
        @apply absolute left-0 top-0 w-full h-full object-cover
    }

    .side-content{
        box-shadow: 0 4px 40px rgba(211, 211, 211, 0.15);
    }

    .panel-white{
        box-shadow: 6px 6px 45px rgba(0, 0, 0, 0.05);
    }

    /* components */
    .custom-input{
        @apply border border-solid border-[#DADADA] rounded-[10px] px-5 py-2 text-base duration-300 hover:border-primary outline-none shadow-none
    }

    .custom-select{
        @apply relative
    }

    .custom-select select{
        @apply appearance-none w-full px-5 py-2 text-[#271F30] pe-10 border border-solid rounded-[10px] outline-none shadow-none border-[#D5D5D5] duration-300 focus:border-primary hover:border-primary
    }

    .custom-select i{
        @apply absolute right-4 top-0 bottom-0 h-fit my-auto
    }

    .upload-photo{
        @apply border-[3px] border-dashed border-[#dadada] rounded-[10px] py-10 px-8 w-full flex items-center justify-center relative
    }
    .upload-photo input{
        @apply absolute left-0 top-0 w-full h-full opacity-0
    }

    .input-wrapper{
        @apply relative bg-white rounded-[10px]
    }

    .input-wrapper input{
        @apply relative left-0 top-0 w-full bg-transparent z-10
    }

    .input-wrapper .valid{
        @apply text-[#11AF22] right-4 top-0 bottom-0 my-auto absolute z-0 h-fit
    }

    .custom-switch{
        @apply relative
    }

    .custom-switch input{
        @apply hidden
    }

    .custom-switch input + span{
        @apply relative ps-[48px]
    }

    .custom-switch input + span:before{
        @apply bg-[#e4e4e7] w-[40px] h-[22px] rounded-[20px] content-[''] block left-0 absolute top-0 
    }

    .custom-switch input + span:after{
        @apply bg-white w-[18px] h-[18px] rounded-[9px] content-[''] block left-[2px] top-[2px] absolute duration-300
    }

    .custom-switch input:checked + span:after{
        @apply left-[20px] bg-primary
    }

    .btn-primary{
        @apply text-lg font-normal px-12 py-3 leading-none rounded-[5px] bg-primary text-white duration-300 hover:scale-[1.05]
    }

    .side-content.compressed a span{
        @apply lg:hidden
    }

    .side-content.compressed{
        @apply lg:w-[75px]
    }

    .drop{
        @apply hidden
    }
    .is-open>.drop{
        @apply flex flex-col
    }

}

@media(max-width: 991px){
    .side-content{
        transform: translateX(-100%);
    }
    .side-content.compressed{
        transform: none;
    }
    #sideMenu.is-open{
        @apply !flex flex-col-reverse border-t-[2px] border-solid border-[#edeff2]
    }
}


.ring-1 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) rgb(197 198 198 / 50%);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

input.bg-transparent{
    border: 0px solid #fff;
}

.text-sm.font-medium.leading-6.text-gray-950, .fi-btn-label {
    color: #333 !important;
    font-weight: 500 !important;
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
    font-family: 'Montserrat', serif !important;
}

h3.fi-section-header-heading.text-base.font-semibold.leading-6.text-gray-950{
    font-weight: 700;
    font-size: 28px;
    font-family: 'Montserrat', serif;
}

button.fi-btn.relative.grid-flow-col.items-center.justify-center.font-semibold.outline-none.transition.duration-75, .px-4.py-2.bg-blue-500.text-white.rounded.mt-4{
    border-radius: 5px;
    background-color: var(--primary);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    transition-duration: 300ms;
    color: white !important;
}

.fi-section-content button.fi-btn.relative.grid-flow-col.items-center.justify-center.font-semibold.outline-none.transition.duration-75{
    border-radius: 5px;
    padding-left: 1.5rem;
    background-color: #e8e8e8;
    padding-right: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    transition-duration: 300ms;
    color: rgb(12, 12, 12) !important;
}

.fi-btn-label{
    color: white !important;
}

.fi-section-content .fi-btn-label{
    color: rgb(15, 15, 15) !important;
}

.fi-fo-field-wrp-helper-text.break-words.text-sm, .whitespace-nowrap.rounded-md.p-2.text-sm {
    font-size: 0.975rem;
    line-height: 1.25rem;
}

textarea.block.h-full.w-full{
    height: 120px;
}

tr{
    border-bottom: 2px solid #f6f7f9 !important
}

.filepond--drop-label label {
    --tw-text-opacity: 1;
    color: rgba(var(--gray-600), var(--tw-text-opacity, 1));
    font-size: 1.175rem;
    line-height: 1.25rem;
    padding: .75rem !important;
}

.custom-select select{
    background-repeat: no-repeat !important;
}

select:not(.choices) {
    background-image: none !important;
}

.fi-fo-field-wrp-helper-text{
    color: #9797a5 !important;
}

.input-wrapper .notvalid {
    position: absolute;
    right: 1rem;
    top: 0px;
    bottom: 0px;
    z-index: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: -moz-fit-content;
    height: fit-content;
    --tw-text-opacity: 1;
    color: rgb(186 8 31);
}

.filepond--drop-label{			
    background-color: #fff;	
    border-style: dashed;
    --tw-border-opacity: 1;
    border-color: rgb(218 218 218 / var(--tw-border-opacity, 1))
}

.filepond--root.filepond--hopper{
    margin-top: 10px;
    min-height: 160px !important;
    padding-top: 60px;
    border-radius: 10px;
    border-width: 3px;
    border-style: dashed;
    outline: none;
    --tw-ring-shadow: none !important;
}

.filepond--drop-label.filepond--drop-label label{
    color: #f95316;
    font-weight:bold;
    padding-top: 80px;
    background-color: #fff;	
    --tw-ring-shadow: none !important;
}

.filepond--root .filepond--drop-label {
    min-height: 7.85em !important;
    margin-top: 12px;
}

.filepond--credits{
    display:none;
}

.filepond--panel-center.filepond--panel-root, .filepond--panel-bottom.filepond--panel-root, .filepond--panel-top.filepond--panel-root{
    background-color: white;
}

.filepond--root .fa-file:before  {
    content: "\1f4c4";
    font-size: 22px;
}

.filepond--root .fa-image:before{
    font-size: 22px;
}

.filepond--drop-label.filepond--drop-label label {
    color: #3bb8b7;
}

.filepond--label-action {
    --tw-text-opacity: 1;
    color: #3bb8b7;
    font-weight: 500;
    text-decoration: none;
}

.filepond--label-action:hover {
    --tw-text-opacity: 1;
    color: #3bb8b7;
}